body {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Arial;
    background-color: #D6E9FF;
}

p {
    padding: 1%;
}

.roundmain {
    border-radius: 15px;
}

.mainbordercolor {
    border: 0.01em solid black;
}